/* NAVBAR */
/* Navbar */
.sidebar-collapse .navbar-collapse:before  {
    background: white;
}

.sidebar-collapse .navbar-collapse .navbar-nav:not(.navbar-logo) .nav-link:not(.btn) {
    color: #2c2c2c;
}


/* REGISTER VIEW */
.card-signup,
.card-signin {
    max-width: unset;
    padding: 30px 0;
    margin-top: 20px;
}

.card-signin {
    width: 400px;
}

.card-signup .subtitle,
.card-signin .subtitle {
    font-size: 12pt;
    font-weight: 300;
    margin-bottom: 40px;
}

.card-signup .card-body {
    padding: .9375rem 1.875rem;
}

.card-signin .card-body {
    padding: .9375rem 1.875rem;
}

.card-signup .card-body .col:nth-of-type(1) {
    padding-left: 5%;
}
.card-signup .card-body .col:nth-of-type(2) {
    padding-right: 5%;
}

.card-signup label,
.card-signin label {
    font-size: 7pt;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 5px;
}

.card-signup input,
.card-signin input {
    margin-bottom: 10px;
}

.card-signup .info {
    padding-right: 10px;
    margin-bottom: 20px;
}
.card-signup .info .info-title {
    font-size: 12pt;
    margin-bottom: 10px;
}

.card-signup .info p{
    color: #555;
}
