/* ANIMATION */
.cloak {
    opacity: 0;
}

*:not(.cloak) {
    opacity: 1;
    transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
}

/* NAVBAR */
body>.navbar + * {
    margin-top: 82px;
}

.sidebar-collapse .navbar-collapse:before  {
    background: white;
}

.sidebar-collapse .navbar-collapse .navbar-nav:not(.navbar-logo) .nav-link:not(.btn) {
    color: #2c2c2c;
}

/* DROPDOWN */
.dropdown-menu {
    left: auto;
    right: 0;
}

.dropdown-menu:before {
    right: 10px;
    left: auto;
}

/* REGISTER and LOGING VIEW */
.card-signup,
.card-signin {
    max-width: unset;
    padding: 30px 0;
    margin-top: 20px;
}

.card-signin {
    width: 400px;
}

.card-signup .subtitle,
.card-signin .subtitle {
    font-size: 12pt;
    font-weight: 300;
    margin-bottom: 40px;
}

.card-signup .card-body {
    padding: .9375rem 1.875rem;
}

.card-signin .card-body {
    padding: .9375rem 1.875rem;
}

.card-signup .card-body .col:nth-of-type(1) {
    padding-left: 5%;
}
.card-signup .card-body .col:nth-of-type(2) {
    padding-right: 5%;
}

.card-signup label,
.card-signin label {
    font-size: 7pt;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 5px;
}

.card-signup input,
.card-signin input {
    margin-bottom: 10px;
}

.card-signup .info {
    padding-right: 10px;
    margin-bottom: 20px;
}
.card-signup .info .info-title {
    font-size: 12pt;
    margin-bottom: 10px;
}

.card-signup .info p{
    color: #555;
}

/* SETTINGS */
.fixed-section {
    top: 90px;
    max-height: 80vh;
    overflow: scroll;
    position: sticky;
    width: min-content;
}

.fixed-section ul {
    padding: 0;
}

.fixed-section ul li {
    list-style: none;
}

.fixed-section li a {
    padding-left: 2px;
    display: block;
}

.fixed-section li a.active {
    font-weight: 700;
}

.fixed-section,
.settings-content {
    padding-top: 30px;
}