{% extends "base.html" %}

{% block title %}{{ book.title }}{% endblock %}

{% block navlinks %}
  {{ super() }}
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-lg-10 ml-auto mr-auto">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-4">
                        <div class="info">
                            <img src="{{book.cover_image_url}}" class="rounded float-left">
                        </div>
                    </div>
                    <div class="col-8">
                        <h3 class="card-title">{{ book.title }}</h3>
                        <h6>{{ book.author }}</h6>
                        <p>{{book.rating}}
                            {% for star in rating_to_stars(book.rating) %}
                            <span>{{star}}</span>
                            {% endfor %}
                        </p>
                        <p class="card-text">{{book.description|safe}}</p>
                        <a href="{{book.amazon_url}}" target="_blank" class="btn btn-primary">Buy This Book</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}