{% extends "base.html" %}

{% block navlinks %}
  {{ super() }}
{% endblock %}

{% block content %}

<div id="error-page">
    <div class="row">
            <div class="col-sm-12 col-md-6">
        
                <div class="error-code">
                    {{ error_code }}
                </div>
                <div class="error-title">{{ error_title }}</div>
                <div class="error-message">{{ error_message }}</div>
        
                <a class="btn btn-primary btn-lg" href="{{url_for('index')}}">Go Home</a>
            </div>
            <div class="col-6 d-none d-sm-none d-sm-none d-md-block ">
                <div class="align-middle">
                    <img src="{{url_for('static', filename='_assets/img/book_not_found.png')}}" alt="Not Found Image">
                </div>
            </div>
        </div>
</div>

{% endblock %}
