{% extends "base_root.html" %}

{% block navlinks %}
  {{ super() }}
{% endblock %}

{% block main_body %}
  <div id="landing-page" class="landing-page">
      <div class="page-header">
          <div class="page-header-image" data-parallax="false">
          </div>
          <div class="container">
              <div class="content-center text-left">
                  <h2 class="title text-white text-center">Find the perfect book for every situation in life.</h2>
                  <div class="input-group input-group-lg dropdown-toggle"  data-toggle="dropdown" id="searchInputDropDown">
                      <span class="input-group-addon">
                          <i class="now-ui-icons ui-1_zoom-bold"></i>
                      </span>
                      <input id="input-search" type="text" class="form-control bg-white" placeholder="Try 'breakup'">
                      <span class="input-group-addon">
                         <a id="input-search-button" class="btn btn-primary text-white">
                          Search
                         </a>
                      </span>
                  </div>
                  <div class="dropdown-menu" aria-labelledby="searchInputDropDown" id="searchInputDropDownMenu"> 
                    <div id="exploreMoodsContainer" class="container text-left m-3">
                        <!-- moods injected by js -->
                    </div>
                    <div id="autoCompleteContainer" class="container text-left m-3 hidden">
                        <!-- suggestions injected by js -->
                    </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <!-- dummy -->
  <div class="section">
    <div class="container">
    <h2 class="title text-center">What is Literapy?</h2>
      <div class="row">
        <div class="col-sm">
          <div class="content-center text-center">
            <img src="/static/_assets/img/biblio.png" class="image-icon">
            <h4>Books to Heal</h4>
            <div id="description-card">
              Books, we believe, can help you in many different ways. Sometimes it’s a sense of company or solace that you’re not the only one who’s been in this situation or mental state, and sometimes books cure just through the rhythm of their prose. Find the situation that you’re going through now and we’ll provide you a list of books that we think will help you.
            </div>
          </div>
        </div>
        <div class="col-sm">
            <div class="content-center text-center">
              <img src="/static/_assets/img/people.png" class="image-icon">
              <h4>Peer Reviewed</h4>
              Every book recommended for each situation has been hand picked and reviewed by real people who felt that they were helped by these books. These same readers offer a % match for how well the book may be relevant to your situation.
          </div>
        </div>
        <div class="col-sm">
            <div class="content-center text-center">
              <img src="/static/_assets/img/heartheal.png" class="image-icon">
              <h4>Proven Results</h4>
              When reading situations that they can empathize with, readers often report feeling a sense of catharsis that helps them process their emotions in a new light. But don’t just take our word for it, try searching for some situations above and decide for yourself.
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
      <div class="container">
          <div class="row">
            <div class="col-lg-8 ml-auto mr-auto">
              <div class="content-center text-center">
                <h2 class="title">What is Literapy?</h2>
                <p>Literay hopes to provide a platform for you to discover the perfect book for the situations or feelings that you may be going through in life by drawing upon the tenets of bibliotherapy, an expressive therapy that involves storytelling or the reading of specific texts with the purpose of healing.</p>.
             

              <blockquote class="blockquote text-center">
              <p class="mb-0">All sorrows can be borne if you put them into a story or tell a story about them.</p>
              <footer class="blockquote-footer">Isak Dinesen</footer>
              </blockquote>

              <p>
               </div>


            </div>
          </div>
      </div>
  </div>
{% endblock %}