{% extends "base_root.html" %}

{% block navlinks %}
  {{ super() }}
{% endblock %}

{% block main_body %}
  <div id="landing-page" class="landing-page">
      <div class="page-header">
          <div class="page-header-image" data-parallax="false">
          </div>
          <div class="container">
              <div class="content-center text-left">
                  <h2 class="title text-white">Find excellent books which fit your current mood.</h2>
                  <div class="input-group input-group-lg dropdown-toggle"  data-toggle="dropdown" id="searchInputDropDown">
                      <span class="input-group-addon">
                          <i class="now-ui-icons ui-1_zoom-bold"></i>
                      </span>
                      <input id="input-search" type="text" class="form-control bg-white" placeholder="Try 'breakup'">
                      <span class="input-group-addon">
                         <a id="input-search-button" class="btn btn-primary text-white">
                          Search
                         </a>
                      </span>
                  </div>
                  <div class="dropdown-menu" aria-labelledby="searchInputDropDown" id="searchInputDropDownMenu"> 
                    <div id="exploreMoodsContainer" class="container text-left m-3">
                        <!-- moods injected by js -->
                    </div>
                    <div id="autoCompleteContainer" class="container text-left m-3 hidden">
                        <!-- suggestions injected by js -->
                    </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <!-- dummy -->
  <div class="section">
      <div class="container">
          <div class="row">
            <div class="col-lg-8 ml-auto mr-auto">
              <div class="content-center text-center">
                <h2 class="title">What is Bibliotherapy?</h2>
                <p>Bibliotherapy or therapeutic storytelling is an expressive therapy that involves storytelling or the reading of specific texts with the purpose of healing. It uses an individual's relationship to the content of books and poetry and other written words as therapy. Bibliotherapy is often combined with writing therapy. It has been shown to be effective in the treatment of depression. These results have been shown to be long-lasting.</p>
              </div>

              <blockquote class="blockquote text-center">
              <p class="mb-0">All sorrows can be borne if you put them into a story or tell a story about them.</p>
              <footer class="blockquote-footer">Isak Dinesen</footer>
              </blockquote>

            </div>
          </div>
      </div>
  </div>
{% endblock %}