{% extends "base_root.html" %}

{% block navlinks %}
  {{ super() }}
{% endblock %}

{% block main_body %}
  <div class="landing-page">
      <div class="page-header">
          <div class="page-header-image" data-parallax="false">
          </div>
          <div class="container">
              <div class="content-center text-left">
                  <h2 class="title text-white">Find excellent books which fit your current mood.</h2>
                  <div class="input-group input-group-lg dropdown-toggle"  data-toggle="dropdown" id="searchInputDropDown">
                      <span class="input-group-addon">
                          <i class="now-ui-icons ui-1_zoom-bold"></i>
                      </span>
                      <input type="text" class="form-control bg-white" placeholder="Try 'breakup'">
                      <span class="input-group-addon">
                         <a class="btn btn-primary text-white">
                          Search
                         </a>
                      </span>
                  </div>
                  <div class="dropdown-menu" aria-labelledby="searchInputDropDown" style="width:100%;" > 
                    <h2>test</h2>
                  </div>


              </div>
          </div>
      </div>
  </div>

  <!-- dummy -->
  <div class="section">
      <div class="container">
          <div class="row">
            <div class="col" style="background: red; height: 2000px;"></div>
          </div>
      </div>
  </div>
{% endblock %}
