{% extends "base_root.html" %}

{% block navlinks %}
{{ super() }}
{% endblock %}

{% block main_body %}

<div class="container">
	<div id="readinglist">
		<div class="col-lg-10 ml-auto mr-auto">
			<h2 class="title text-black">Saved Books</h2>

			{% if results|length == 0 %}
            <p>You don't have any books saved yet!</p>
            {% endif %}

			{% for result in results %}
			<div class ="row">
				<div class ="col-2">
					<div class="img-container">
						<img class="rounded float-left" src="{{result.book.cover_image_url}}" alt="" />
					</div>
				</div>
				<div class="col-10">
					<h4>{{result.book.title}}</h4>
					<p>by {{result.book.author}}</p>
                    <p>{{result.book.rating}}
                        {% for star in rating_to_stars(result.book.rating) %}
                        <span>{{star}}</span>
                        {% endfor %}
                    </p>
					<a class="btn btn-primary" href="{{ url_for('show_book', book_id=result.book.id)}}">See Book Details</a>
					<a class="btn btn-primary" href="#">Remove Bookmark</a>
				</div>
			</div>
			{% endfor %}

		</div>
	</div>
</div>

{% endblock %}
