{% extends "base_settings.html" %}

{% block navlinks %}
  {{ super() }}
{% endblock %}

{% block settings_content %}
<div class="settings-about">
    <h3>About</h3>
    <div>
      <p>
        Literapy originated as a final project of the 
        <a href="https://www.ischool.berkeley.edu/courses/info/290t/fswd" target="_blank">Full Stack Web Development</a> course
        at the <a href="https://www.ischool.berkeley.edu/"  target="_blank">School of Information</a> 
        at <a href="https://www.berkeley.edu/" target="_blank">UC Berkeley</a>.

        The course teaches students skills in data modeling, database and API design, 
        responsive front-end design, version control, and deployment using Python, JavaScript, 
        and full-stack frameworks such as Flask. 
        It culminates in a final project in which the students have to apply the learned concepts
        by implementing a production ready web applications.
      </p>

      <p>
        The entire source code for <a href="#">Literapy</a> can be found on <a href="https://github.com/FroeMic/FullStack_Info_FinalProject" target="_blank">Github</a>.
        If you have suggestions for improvement, let us know by opening issues there.
        And if you like <a href="#">Literapy</a> we would be happy if leave us a <em>star</em> on Github.
      </p>
    </div>

    <div>
        <h6>Why did we build Literapy</h6>
        <p>
          We believe that books can help to overcome difficult situations.
          From the sense of comfort knowing that you’re not the only going through a difficult situation 
          to the calming effect of prose — reading helps.
          (<a href="https://en.wikipedia.org/wiki/Bibliotherapy" target="_blank"> Bibliotherapy</a> is in fact a well established concept)
        </p>
        <p>
          However, finding the right book for your situation can be a tedious task. 
          This is, why we decided to build <a href="#">Literapy</a>. 
          We wanted to provide you with a tool that helps you to find the book you need
          with the click of a button!
        </p>
        <p>
          We hope you enjoy exploring books with <a href="#">Literapy</a>.
        </p>
    </div>

    <div>
        <h6>Who built Literapy</h6>
        <p>
          <ul>
            <li> 
              Michael Froehlich (<a href="https://github.com/froemic" target="_blank">@froemic</a>)
            </li>
            <li> 
              Devin Huang (<a href="https://github.com/redspruce" target="_blank">@redspruce</a>),
            </li>
            <li> 
              Daphne Wong (<a href="https://github.com/FroeMic" target="_blank">@daphnejong</a>),
            </li>
            <li> 
              Sipian Wang (<a href="https://github.com/FroeMic" target="_blank">@rabberina</a>),
            </li>
          </ul>
         
        </p>
    </div>
</div>
 



{% endblock %}
