{% extends "base_settings.html" %}

{% block navlinks %}
  {{ super() }}
{% endblock %}

{% block settings_content %}
    <h3>Change Your Password</h3>
	<div>
        <form class="form" action="" method="post">
                {{ form.hidden_tag() }}
                <div class="form-group mb-0">
                    {{ form.currentpassword.label }}
                    {{ form.currentpassword(size=32) }}
                    {% for error in form.currentpassword.errors %}
                    <span class="text-danger">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="form-group mb-0">
                    {{ form.confirmpassword.label }}
                    {{ form.confirmpassword(size=32) }}
                    {% for error in form.confirmpassword.errors %}
                    <span class="text-danger">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="form-group mb-0">
                    {{ form.newpassword.label }}
                    {{ form.newpassword(size=32) }}
                    {% for error in form.confirmpassword.errors %}
                    <span class="text-danger">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="form-group mb-0">
                    {{ form.submit() }}
                </div>
            </form>
    </div>
{% endblock %}
